$main-black: #10141E;
$light-blue: #161D2F;
$light-gray: #5A698F;
$red: #FC4747;

/*Typography sizes*/
$section-title-font-size: 2rem;

$mobile-actionable-font-size: 1.5rem; 
$mobile-reading-font-size: 1.4rem;

$tablet-actionable-font-size: 1.5rem;
$tablet-reading-font-size: 1.5rem;

$desktop-actionable-font-size: 2.4rem;
$desktop-reading-font-size: 2rem;

/*Unified media queries*/
@mixin mobile-only {
    @media screen and (max-width:767px){
        @content;
    }
}
@mixin tablet-only {
    @media screen and (min-width:768px) and (max-width:1023px){
        @content;
    }
}
@mixin desktop-only {
    @media screen and (min-width:1024px){
        @content;
    }
}
@mixin not-mobile {
    @media screen and (min-width:768px){
        @content;
    }
}
@mixin not-desktop {
    @media screen and (max-width:1023px){
        @content;
    }
}

@mixin largest {
    @media screen and (min-width:$desktopXlargest){
        @content;
    }
}

/*Used Fonts*/

@mixin font-montserrat($weight) {
    font-family: 'Outfit-Light';
    font-style: normal;
    font-weight: $weight;
}

@mixin font-unbounded($weight) {
    font-family: 'Outfit-Medium';
    font-style: normal;
    font-weight: $weight;
}

/*Grids*/
@mixin tablet-columns($columns: 8){
    column-gap: 2.5 * $tabletXspacing;
    grid-template-columns: repeat($columns,1fr);
}

@mixin desktop-columns($columns: 10) {
    gap: 0 2.5 * $desktopXspacing;
    grid-template-columns: repeat($columns,1fr);
}


/*Animations*/
@mixin font-weight-transition{
    text-shadow:
            -0.25px -0.25px 0 #000000,
            0.25px -0.25px 0 #000000,
            -0.25px 0.25px 0 #000000,
            0.25px 0.25px 0 #000000;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            cursor: pointer;
}