@use '../../styles/shared.scss' as shared;

.container {
    @include shared.not-mobile {
        width: 28rem;
        height: 22.6rem;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .banner {
        width: 100%;
        border-radius: 0.8rem;
        display: flex;
        justify-content: flex-end;
        
        @include shared.desktop-only {
            min-height: 17.4rem;
        }
        @include shared.tablet-only {
            min-height: 14rem;
        }
        @include shared.mobile-only {
           min-height: 11rem;
        }

        .circle {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 100px;
            margin: 1.8rem 0.9rem 0 0;
            background-color: black;
            opacity: 0.5;

            &:hover {
                cursor: pointer;
            }
        }
    }


    
    .details {
        display: flex;
        
        @include shared.desktop-only {
            
            justify-content: flex-start;
            font-size: 1.3rem;
            padding-left: -1rem;
        }
        
        @include shared.tablet-only {
            width: 12.6rem;
        }
        
        @include shared.mobile-only {
            width: 11.2rem;
        }

        li:first-child {
            margin-left: 0;
        }
        li {
            list-style-type: none;
            display: flex;
            align-content: center;
            .iconContainer {
                align-self: center;
                margin-right: 0.5rem;
                width: 1.2rem;
                height: 1.2rem;
                @include shared.mobile-only {
                    width: 1rem;
                    height: 1rem;
                }
            }

        }

        li:not(:first-child)::before {
            content: "•";
            margin: 0 0.8rem;
        }


    }

    h1 {
        width: fit-content;
        font-size: 1.8rem;
    }
}

