@use '../../styles/shared.scss' as shared;

.container {
    display: flex;
    align-items: center;
   

    @include shared.desktop-only {
        margin:2rem;
        margin-left: 0;
    }
    @include shared.tablet-only {
        margin: 0;
        padding-top: 1rem;
    }
    @include shared.mobile-only {
        padding: 2.5rem;
    }


    .icon {
        @include shared.not-mobile {
            width: 3.2rem;
            height: 3.2rem;
        }
        @include shared.mobile-only {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    .search {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid transparent;

        color: white;
        background-color: transparent;
        caret-color: shared.$red;
        
        transition: border-bottom 0.5s ease;

        @include shared.desktop-only {
            padding: 1.4rem 0;
        }
        @include shared.not-mobile {
            font-size: 2.4rem;
            margin-left: 2.4rem;
        }
        @include shared.mobile-only {
            margin-left: 1.8rem;
            font-size: 1.6rem;
        }



        &:focus {
            outline: none;
            border-bottom: 1px solid shared.$light-gray;
            
        }

        &::placeholder {
            color: white;
            opacity: 0.5;
        }
    }
}